body {
  font-family: sans-serif;
  line-height: 1.5;
  background-color: burlywood;
  padding: 25px;
}

.icon {
  width: 20px;
  height: 30px;
  transition: all 0.3s ease;
  &:hover {
    transform: scale(1.5) rotate(360deg);
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}
